
body {
	--background-color: #fffbf0;
	--text-color: rgb(104, 104, 104);
	--shadow-color: 20, 20, 20;
	font-family: Verdana;
	background: var(--background-color);
	color: var(--text-color);
	--accent-color: rgb(0, 116, 81);
}

body.dark {
	--background-color: #222;
	--shadow-color: 0, 0, 0;
	--text-color: rgb(180, 200, 200);
	--accent-color: rgb(53, 181, 142);
}

h1 {
	text-align: center;
}

h1, h2 {
	color: var(--accent-color);
}

main {
	display: grid;
	max-width: 700px;
	height: 500px;
	margin: 0 auto;
}

.textbox {
	margin: 0;
	height:  200px;
	padding: 10px;
	border-radius: 10px;
	margin: 20px;
	overflow-x: wrap;
}

#text-input {
	box-shadow: 0 2px 4px rgba(var(--shadow-color), 0.5);
	transition: box-shadow 0.1s;
	overflow-y: scroll;

	-ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

#text-input::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#text-input:hover {
	box-shadow: 0 5px 10px rgba(var(--shadow-color), 0.3);
}

#text-input:focus {
	outline: none;
}
